{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Notes</h1>
            <ul class="list-group list-group-flush" id="notes">
                {% for note in user.notes %}
                <li class="list-group-item">{{ note.data }}
                    <button type="button" class="close" onclick="deleteNote({{ note.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            <form method="POST">
                <h1>Add Note</h1>
                <br />
                <textarea name="note" id="note" class="form-control"></textarea>
                <br />
                <div>
                    <button type="submit" class="btn btn-primary">Add Note</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}