{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
    <label for="email">Email Address</label>
    <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter your email adress"
    />
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
    />

    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
    <p style="font-size:12px;">
        <br/>
        Don't have an account yet? Go to the <a href="/sign-up">Sign Up page</a>.
    </p>
</form>
{% endblock %}